body {
  font-family: sans-serif;
}

form {
  margin: 3rem auto;
  width: 80%;
  max-width: 30rem;
  border-radius: 8px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

button {
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #000000;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #000000;
  border-color: #000000;
}

img {
  width:  600px;
  height: 500px;
}
